

*{
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth ;
}

body {
    margin: 0px;
    padding: 0px;
}

#banner {
    width: 100%;
    height: 43.75rem;
    background-image:url(assets/images/office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ColorBanner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43.75rem;
    background-color: rgba(69, 180, 125, 0.7) ;
}

#header {
    width: 100%;
    height: 4.125rem;
    position: fixed;
    background-color: rgba(69, 180, 125, 0);
    display: flex;
    justify-content: center;

}


#header.scroll {
    background-color:white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

}

#header.scroll .menu li a:hover ,
#header.scroll .menu .active a  {
    border-bottom: 2px solid rgb(69, 180, 125);
    color: rgb(69, 180, 125);
    transition: 0.5s;
}

.logo {
    height: 4.125rem;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logoImg img {
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 5px 0px 5px 0px;
    
}

.menu {
    width: 80%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}

ul  {
    display: flex;
}

ul li {
    margin-right: 30px;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu li a {
    color:rgb(2, 33, 70);
    text-decoration: none;
    height: 3.625rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 0, 0,0);
}

.menu li a:hover ,
.menu .active a  {
    border-bottom: 2px solid rgb(0, 128, 0);
    color: rgb(0, 128, 0);
    transition: 0.5s;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 18.75rem;
    margin-top: 21.25rem;
   
}

.titulo img {
    width:13.75rem;
    height: 4.375rem;
    margin-right: 12.5rem;
    
}

.titulo .titulo1 {
    margin-right: 12.5rem;
    color: #FFF;
}

main .banner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 16.25rem;
   
    
}

.banner2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 18.75rem;
    height: 13.75rem;
    border-radius: 0.625rem;
   
}

div h3 {
    color: rgb(69, 180, 125);
}

div p {
    color: #FFF;
    font-size: 18px;
}



.imagem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/escritório.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/images.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/notebook-ferramenta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagemColor {
    background-color: rgba(2, 33, 70,0.8);
}

#sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
} 

.sobre1 {
    display: flex;
    height: 43.75rem;
    
}

.sobre1 .imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imagem img {
    width: 31.25rem;
    height: 25rem;
}

.sobre1 .texto {
    display: flex;
    flex-direction:column;
    flex: 1;
    height: 100%;
    
}

.texto .texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 1.25rem;
    
}

.texto1 h2 {
    font-size: 2.5rem;
    margin: 0px;
    margin-bottom: 1.875rem;
    color: rgb(2, 33, 70);
}

.texto p {
    font-size: 1.125rem;
    color: rgb(2, 33, 70);
}

.texto .texto2 {
    flex: 1;
    display: flex;
    
}

.texto2 .esquerda {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex: 1;
    height: 100%;
    
    
}

.esquerda img {
    width: 3.125rem;
    height: 3.125rem;
}

.texto2 .direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    
}

.direita img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1.875rem;
}

.sobre2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-bottom: 2.5rem;
}

.sobre2 p {
    font-size:1.5rem;
    color: rgb(2, 33, 70) ;
}

.sobre2 button {
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 1rem;
    color: rgb(2, 33, 70) ;
    border: 1px solid rgb(2, 33, 70) ;
    cursor: pointer;
}

.sobre2 button:hover {
    width: 8.75rem;
    background-color: rgb(2, 33, 70) ;
    color: #FFF;
    transition: 0.5s;
}

#produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 28.75rem;
    background-color: rgb(69, 180, 125) ;
}

#produtos .produtos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width:18.75rem ;
    height: 6.25rem;
    margin-top: 1.875rem;
    font-size: 1.875rem;
    color: #FFF;
}

#produtos .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13.75rem;
    height: 14.1375rem;
    border-radius: 20px;
    margin: 0.625rem;
    padding: 0.625rem;
    background-color: rgb(2, 33, 70);
}

.box div img {
    width: 2.5rem;
    height: 2.5rem;
}

.box div:hover {
    width: 14.1375rem;
    height:15rem ;
    transition: 0.5s;
}

.box div button {
    width: 8.125rem;
    height: 2.5rem;
    border-radius: 16px;
    color: rgb(69, 180, 125) ;
    background-color: rgb(2, 33, 70) ;
    border: 1px solid rgb(69, 180, 125) ;
    cursor: pointer;
}

.box div button:hover {
    background-color: rgb(69, 180, 125) ;
    color: #FFF ;
    width: 8.75rem;
    border: none;
    transition: 0.5s;
}


#diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 28.75rem;
    
}

#diferenciais .diferenciais1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43.75rem;
    height: 10rem;
    margin-top: 1.875rem;
    font-size: 1.875rem;
    color: rgb(2, 33, 70);
}

#diferenciais .diferenciais1 p {
    color: rgb(2, 33, 70) ;
    margin:0;

}

#diferenciais .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

#diferenciais .box1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13.75rem;
    height: 8.125rem;
    border: 2px solid rgb(69, 180, 125) ;
    border-radius: 20px;
    margin: 0.625rem;
    padding: 0.625rem;
    
}

#diferenciais .box1 div:hover {
    width: 14.375rem;
    height: 8.75rem;
    transition: 0.5s;
}

#diferenciais .box1 div p {
    color: rgb(2, 33, 70) ;
}

#unico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28.75rem;
    background-image: url(assets/images/escritório.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ColorUnico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28.75rem;
    background-color: rgba(2, 33, 70, 0.7);
}

#unico .titulo1 {
    text-align: center;
    width: 100%;
    height: 10rem;
    font-size: 1.875rem;
    color: #FFF;
   
}

#unico .titulo1 span {
    color: rgb(69, 180, 125);
}

#unico .texto3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 1;
    
}

.texto3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    
}

.texto3 h3 {
    color: #FFF;
}

.texto3 p {
    color: #FFF;
}

#unico .botao {
    height: 100px;
}

#unico button {
    width: 8.75rem;
    height: 2.5rem;
    border-radius: 16px;
    margin-bottom: 2.5rem;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

}

#unico button:hover {
    background-color: rgb(69, 180, 125) ;
    width: 9.375rem;
    height: 2.75rem;
    border: none;
    transition: 0.5s;
}

#depoimentos {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37.5rem;
    
}

.depoimentoTitulo {
    height: 100px;
    margin-bottom: 1.25rem;
   
}

.depoimentoTitulo h2 {
    font-size: 2.8125rem;
    color: rgb(2, 33, 70) ;
}

#depoimentos .slider {
    display: flex;
    align-items: center;
    width: 37.5rem;
    height: 25rem;
    border-radius: 20px;
    overflow-x: hidden;
  
}

.slider .slider--width {
    height: 25rem;
    display: flex;
    transition: all ease 1.5s;
    
}

.slider--width .slider--video {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    height: inherit;
   
}

.slider--video .cor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    color: rgb(69, 180, 125);
    font-size: 1.25rem;
    background-color: rgb(221, 245, 233);
    border-bottom: 8px solid rgb(197, 202, 202) ;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#depoimentos .slider--controls {
    margin-top: 8.75rem;
    cursor: pointer;

}


#clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 18.75rem;
    padding: 0.625rem;
    background-color:rgb(221, 221, 221);
    border-bottom: solid 5px rgb(69, 180, 125);
}

.clienteTitulo h2 {
    font-size: 2.8125rem;
    color: rgb(2, 33, 70)  ;
}

#clientes .clienteBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
   
}

.clienteBox div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
}

.clienteBox div img {
    width: 5.625rem;
    height: 4.375rem;
}

#contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28.75rem ;
    background-color: rgb(2, 33, 70) ;
}

#contatos p {
    margin: 0.625rem;
}

#contatos div {
    width: 16.25rem ;
    height: 20rem;
    margin-right: 1.25rem;
}


.contato1 img {
    width: 10rem;
    height: 3rem;
}

.contato1 button {
    width: 8.75rem;
    height: 2.5rem;
    border-radius: 5px;
    color: rgb(69, 180, 125) ;
    border: 1px solid rgb(69, 180, 125);
    background-color: rgba(69, 180, 125, 0) ;
    cursor: pointer;
    margin-top: 1.25rem;
    
}

.contato1 button:hover {
    background-color: rgb(69, 180, 125) ;
    color: #FFF;
    width: 9.375rem;
    height: 2.75rem;
    border: none;
    transition: 0.5s;
    
}

#contatos .contato2 {
    display: flex;
    flex-direction: column;
}

#contatos .contato2 h3 {
    color: rgb(69, 180, 125)  ;
}

#contatos .contato2 span {
    color: rgb(69, 180, 125) ;
}

.contato2 p:hover {
    font-size: 1.25rem;
    cursor: pointer;
    color: rgb(69, 180, 125) ;
    transition: 0.5s;

}

#contatos .contato3 {
    display: flex;
    flex-direction: column;
}

#contatos .contato3 p:hover {
    cursor: pointer;
    color: rgb(69, 180, 125) ;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.7rem ;
    background-color: rgb(0, 16, 36);
}

footer p {
    margin:0px;
    color: #FFF;
}















